
//// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: $brand-font-size;
  letter-spacing: $brand-letter-spacing;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
    &:hover {
      color: $color-primary;
      padding-bottom: 0.2rem;
      padding-right: 0.4rem;
      padding-left: 0.4rem;
      zoom: .9;
      border-radius: .4rem;
      box-shadow: .1rem .2rem rgba($color-grey-dark,.8);
    }
  }
}
//
//// Container with no padding for navbar
//.nav-container {
//  max-width: $content-width;
//  margin: 0 auto;
//}
//
//// Navigation
//nav {
//  float: right;
//  ul {
//    list-style: none;
//    margin: 0;
//    padding: 0;
//    li {
//      float: left;
//      position: relative;
//      animation: moveInBottom 1s;
//      a,
//      a:visited {
//        display: block;
//        padding: 0 20px;
//        line-height: $nav-height;
//        color: $nav-font-color;
//        text-decoration: none;
//        &:hover {
//          border-radius: 10rem;
//          background: $color-primary;
//          color: $nav-font-color;
//        }
//        &:not(:only-child):after {
//          padding-left: 4px;
//          content: ' ▾';
//        }
//      } // Dropdown list
//      ul li {
//        min-width: 190px;
//        a {
//          padding: 15px;
//          line-height: 20px;
//        }
//      }
//    }
//  }
//}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}