{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <section class="section-register">
    <div class="register__row">
      <div class="register">
        <div class="form__group">
          <div class="form__input">

            <h2>{{ object.username }}</h2>
            {% if object.name %}
              <p>{{ object.name }}</p>
            {% endif %}
          </div>
        </div>

        {% if object == request.user %}
          <!-- Action buttons -->
          <div class="form__group">
            <div class="form__input">
              <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update Info</a>
              <a class="btn btn-primary" href="{% url 'account_change_password' %}" role="button">Update/Change Password</a>
              <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Update E-Mail</a>
              <!-- Your Stuff: Custom user template urls -->
            </div>
          </div>
          <!-- End Action buttons -->
        {% endif %}

      </div>
    </div>
  </section>
{% endblock content %}

