{% extends 'base.html' %}
{% load static i18n compress %}
{% block title %}{{ page_title|title }}{% endblock %}
{% block content %}
  <section class="gallery" id="gallery">
    <figure class="gallery__item">
      <img src="{% static "images/blog-home-1.jpg" %}" alt="Photo of coffee 1" class="gallery__photo">
    </figure>
    <figure class="gallery__item">
      <img src="{% static "images/blog-home-2.jpg" %}" alt="Photo of coffee 2" class="gallery__photo">
    </figure>
    <figure class="gallery__item">
      <img src="{% static "images/blog-home-3.jpg" %}" alt="Photo of coffee 3" class="gallery__photo">
    </figure>
  </section>

  <section class="overview" id="overview">
    <h1 class="overview__heading">
      Crits And Coffee Blog
    </h1>
    <div class="overview__stars">
      <!--                        This is simply here to fill space-->
    </div>
    <div class="overview__rating">
      <div class="overview__rating-average">{{ total_post_count }} Posts Created</div>
      <div class="overview__rating-count">{{ total_comment_count }} Comments</div>
    </div>
  </section>

  <section class="detail" id="details">
    <div class="description">
      <p class="paragraph">
        Welcome to the Crits and Coffee blog. This is just a simple blog page created as a project for INFOST 440
        and UW Milwaukee.
        The hope is that visitors will contribute to posts or add posts relating to coffee or code! Check out the
        list of suggested topics below!
        I hope you enjoy the simple look and feel of that site and I do ask that you contribute content in a
        respectful and polite manner.
      </p>
      <p class="paragraph">
        If you have an comments or concerns relating to the site please make a post about them. I'm always looking
        for new way to improve this
        project. If you would like to see some of my other work feel free to find me on <a
        href="https://github.com/srwagsta" target="_blank">Github</a>.
      </p>
      <ul class="list">
        <li class="list__item">Python Programming</li>
        <li class="list__item">Django!</li>
        <li class="list__item">TypeScript/Angular</li>
        <li class="list__item">InfoSec</li>
        <li class="list__item">Coffee! Anything Coffee!</li>
        <li class="list__item">Foodie Stuffs</li>
      </ul>

      <div class="recommend">
        {% if total_user_count > 1 %}
          <p class="recommend__count">{{ first_user.first_name|title }} and {{ total_user_count }} others have
            registered!</p>
        {% else %}
          <p class="recommend__count">We need more users! Register Now!</p>
        {% endif %}
        <div class="recommend__friends">
          {% for user in user_profiles %}
            <img src="{% get_media_prefix %}{{ user.avatar }}" alt="Friend 1" class="recommend__photo">
          {% endfor %}
        </div>
      </div>
    </div>

    <figure class="user-reviews">
      {% for post in top_posts %}
        <figure class="review">
          <blockquote class="review__text">
            {{ post.post_title }}
          </blockquote>
          <figcaption class="review__user">
            <img src="{% get_media_prefix %}{{ post.post_author.avatar }}" alt="User 1" class="review__photo">
            <div class="review__user-box">
              <p class="review__user-name">{{ post.post_author.first_name }}, {{ post.post_author.last_name }}</p>
              <p class="review__user-date">{{ post.publish_date|date:"d M y" }}</p>
            </div>
            <div class="review__rating">{{ post.comments }}</div>
          </figcaption>
        </figure>
      {% endfor %}
      <a href="{% url 'blog:post_list' %}" class="btn-inline">Show all <span>&rarr;</span></a>
    </figure>
  </section>
  {% if not user.is_authenticated %}
    <div class="cta">
      <h2 class="cta__book-now">
        Questions? Comments? Want to contribute?
      </h2>
      <a href="{% url 'account_signup' %}" class="btn">
        <span class="btn__visible">Register Now</span>
        <span class="btn__invisible">Please, play nice!</span>
      </a>
    </div>
  {% endif %}
{% endblock %}
