{% extends 'base.html' %}
{% load static i18n compress %}
{% block title %}Crits and Coffee Blog{% endblock %}
{% block content %}
  <section class="gallery" id="gallery">
    <figure class="gallery__item">
      <img src="{% static "images/blog-home-1.jpg" %}" alt="Photo of coffee 1" class="gallery__photo">
    </figure>
    <figure class="gallery__item">
      <img src="{% static "images/blog-home-2.jpg" %}" alt="Photo of coffee 2" class="gallery__photo">
    </figure>
    <figure class="gallery__item">
      <img src="{% static "images/blog-home-3.jpg" %}" alt="Photo of coffee 3" class="gallery__photo">
    </figure>
  </section>

  <section class="overview" id="overview">
    <h1 class="overview__heading">
      Crits And Coffee Blog
    </h1>
    <div class="overview__stars">
      <!--                        This is simply here to fill space-->
    </div>
    <div class="overview__rating">
      {#  TODO: Make some custom template tags for this? Maybe just load the tags before you need them? #}
      {#  This way they will not load if the content block is overridden#}
      <div class="overview__rating-average">MAKE DJANGO GET THE POST COUNT (5 Posts Created)</div>
      <div class="overview__rating-count">MAKE DJANGO GET THE COMMENT COUNT (3 Comments)</div>
    </div>
  </section>

  <section class="detail" id="details">
    <div class="description">
      <p class="paragraph">
        Welcome to the Crits and Coffee blog. This is just a simple blog page created as a project for INFOST 440
        and UW Milwaukee.
        The hope is that visitors will contribute to posts or add posts relating to coffee or code! Check out the
        list of suggested topics below!
        I hope you enjoy the simple look and feel of that site and I do ask that you contribute content in a
        respectful and polite manner.
      </p>
      <p class="paragraph">
        If you have an comments or concerns relating to the site please make a post about them. I'm always looking
        for new way to improve this
        project. If you would like to see some of my other work feel free to find me on <a
        href="https://github.com/srwagsta" target="_blank">Github</a>.
      </p>
      <ul class="list">
        <li class="list__item">Python Programming</li>
        <li class="list__item">Django!</li>
        <li class="list__item">TypeScript/Angular</li>
        <li class="list__item">InfoSec</li>
        <li class="list__item">Coffee! Anything Coffee!</li>
        <li class="list__item">Foodie Stuffs</li>
      </ul>

      <div class="recommend">
        <p class="recommend__count">MAKE DJANGO GET THE FIRST USER'S FIRST NAME AND THE USER COUNT (Test and 5 other
          users made posts) </p>
        <!--            TODO: Pull the images from the users-->
        <div class="recommend__friends">
          <img src="../../../img/user-3.jpg" alt="Friend 1" class="recommend__photo">
          <img src="../../../img/user-4.jpg" alt="Friend 2" class="recommend__photo">
          <img src="../../../img/user-5.jpg" alt="Friend 3" class="recommend__photo">
          <img src="../../../img/user-6.jpg" alt="Friend 4" class="recommend__photo">
        </div>
      </div>
    </div>

    <!--TODO: Get images from user profile images and make this a for loop that goes through the passedcontext data-->
    <figure class="user-reviews">
      <figure class="review">
        <blockquote class="review__text">
          MAKE DJANGO ADD THE CONTENT HERE
        </blockquote>
        <figcaption class="review__user">
          <img src="../../../img/user-1.jpg" alt="User 1" class="review__photo">
          <div class="review__user-box">
            <p class="review__user-name">MAKE DJANGO ADD THE USERNAME HERE</p>
            <p class="review__user-date">MAKE DJANGO DO THE PUBLISH DATE HERE</p>
          </div>
          <div class="review__rating">MAKE DJANGO PUT LIKES HERE</div>
        </figcaption>
      </figure>

      <a href="{% url 'blog:post_list' %}" class="btn-inline">Show all <span>&rarr;</span></a>
  </section>

  <div class="cta">
    <h2 class="cta__book-now">
      Questions? Comments? Want to contribute?
    </h2>
    <a href="{% url 'account_signup' %}" class="btn">
      <span class="btn__visible">Register Now</span>
      <span class="btn__invisible">Please, play nice!</span>
    </a>
  </div>
{% endblock %}
