{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block content %}
  <section class="overview" id="overview">
{#  TODO: Maybe only show these if they have permissions?#}
    <div class="overview__heading">
      <div class="btn-group" role="group" align="center">
        <a class="btn btn-secondary dropdown-toggle" href="{{ post.get_update_url }}">Update Post</a>
      </div>
      <div class="btn-group" role="group" align="center">
        <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> Delete Post
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="{{ post.get_delete_url }}">Yes</a>
          <a class="dropdown-item">Cancel</a>
        </div>
      </div>
      <div class="btn-group" role="group" align="center">
        <a class="btn btn-secondary btn--comment dropdown-toggle" href="{{ post.get_create_comment_url }}">
          Add A Comment
        </a>
      </div>
      <div class="overview__stars">
        <!--               This is just to fill space once again. Quick. Dirty -->
      </div>
    </div>
  </section>

  <section class="post-box" id="details">
    <section class="section-escape">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          {{ post.post_title }}
        </h2>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <h3 class="heading-tertiary u-margin-bottom-small">
            {{ post.post_author.first_name }}, {{ post.post_author.last_name }}
          </h3>
          <p class="paragraph">
            {{ post.post_content }}
          </p>
        </div>
      </div>
    </section>

    {% for comment in post.comments.all %}
      <div class="row__post">
        <div class="post">
          <figure class="post__shape">
            <img src="{% get_media_prefix %}{{ comment.comment_author.avatar }}" alt="Cute Image" class="feature__img">
            <figcaption class="post__caption">
              {{ comment.publish_date|date:"d M y" }}
            </figcaption>
          </figure>
          <div class="post__text">
            <h3 class="heading-tertiary u-margin-bottom-small">
              {{ comment.comment_author.first_name }}, {{ comment.comment_author.last_name }}
            </h3>
            <p>{{ comment.comment_content }}</p>
          </div>

          <div class="btn-group" role="group" align="center">
            <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Delete Comment
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item"
                 href="{{ comment.get_delete_url }}">Yes</a>
              <a class="dropdown-item">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
