{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}
{% block title %}Crits Posts{% endblock %}
{% block content %}
  <section class="overview" id="overview">
    <div class="overview__heading">
      <a class="btn btn-dark" href="{% url 'blog:post_create' %}">Create A Post</a>
    </div>
    <div class="overview__stars">
      <!--               This is just to fill space once again. Quick. Dirty -->
    </div>
  </section>

  <section class="post-box" id="details">
    {% for post in post_list %}
      <div class="row__post">
        <div class="post">
          <figure class="post__shape">
            <img src="{% get_media_prefix %}{{ post.post_author.avatar }}" alt="Cute Image" class="feature__img">
            <figcaption class="post__caption">
              {{ post.publish_date|date:"d M y" }}
            </figcaption>
          </figure>
          <div class="post__text">
            <h3 class="heading-tertiary u-margin-bottom-small">
              <a href="{{ post.get_absolute_url }}">{{ post.post_title }} ({{ post.comments.all.count }} Comments)</a>
            </h3>
            <p>
              {{ post.post_content }}
            </p>
          </div>

          <div class="btn-group" role="group" align="center">
            <a class="btn-inline" href="{{ post.get_create_comment_url }}">
              Leave A Comment
            </a>
          </div>
          {% if user|in_group:'editors' or user == post.post_author %}
            |
            <div class="btn-group" role="group" align="center">
              <a class="btn-inline" href="{{ post.get_update_url }}">Update Post</a>
            </div>
            |
            <div class="btn-group" role="group" align="center">
              <button id="btnGroupDrop2" type="button" class="btn-inline dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"> Delete Post
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="{{ post.get_delete_url }}">Yes</a>
                <a class="dropdown-item">Cancel</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="row__post">
        <div class="post">
          <div class="post__text">
            <h3 class="heading-tertiary u-margin-bottom-small">NO POSTS!</h3>
            <p>
              Sorry, this is an empty blog. Help me out and post something!!
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}
